.top-bar{
    height: 100px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;    
    padding: 0 20px;
}

.chat{
    margin-top: 18px;
    margin-right: 10px;
    font-size: 1.2rem;
}

.navigation{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;
}

.Intro{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding-top: 70px;
}