.top-bar{
    height: 100px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.chat{
    margin-top: 18px;
    margin-right: 10px;
}

.navigation{
    margin-top: 10;
    padding-top: 0;
    padding-right: 125px;
    padding-left: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Intro{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-top: 70px;
}